<h1>Products</h1>
<% @products.each do |product| %>
  <div>
    <h2><%= product.name %></h2>
    <p>$<%= product.price / 100.0 %></p>
    <%= link_to 'Buy Now', checkout_create_path(product_id: product.id), class: "button" %>
  </div>
<% end %>
